<mat-card class="card">
  <mat-card-title>{{item.firstName +" "+ item.lastName}}</mat-card-title>
 
  <img mat-card-image src="{{item.imgUrl ? item.imgUrl : defaulteImg}}">
  <!-- <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3Jqi7h_pKXpdIrGpzz2XQA_VTSou69xk4KA&usqp=CAU"> -->
  
  <mat-card-content>
   <div>Email:</div>
   <div>{{item.email}}</div>
   <div>Phone number:</div>
   <div>{{item.phone}}</div>
  </mat-card-content>
  <mat-card-actions class="cardFooter">
    <button class="delBtn btn" (click)="onDel($event)" mat-button>Delete</button>
    <a href="#flyUp">
      <button class="editBtn btn" (click)="onEdit()" mat-button>Edit</button>
    </a>
  </mat-card-actions>
</mat-card>