<mat-card class="card">
  <mat-card-title>name</mat-card-title>
 
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

  <mat-card-content>
   <div>Email:</div>
   <div>a@gmail.com</div>
   <div>Phone number:</div>
   <div>0552286546</div>
  </mat-card-content>
  <mat-card-actions class="cardFooter">
    <button class="delBtn" (click)="onDel($event)" mat-button>Delete</button>
    <button class="editBtn" mat-button>Edit</button>
  </mat-card-actions>
</mat-card>