main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-height: 100vh;
  overflow-y: auto;
}

.item{
  width: 25%;
  padding: 12px;

}

.noContactsError{
  color: red;
  margin-top: 12px;
}

@media screen and (max-width: 992px) {
  .item{
    width: 50%;
    padding: 12px;
  }
}
@media screen and (max-width: 600px) {

  .item{
    width: 100%;
    padding: 12px;
  }
  
}